<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".di.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="OutGamble"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OutGambleAndroid"
        tools:targetApi="31">
        <activity
            android:name=".presentation.chatbot.chating.ChatBotChatingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".presentation.chatbot.ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.report.sites.ReportsSiteActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.report.location.ReportsLocationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.report.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.community.history.CommunityHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.community.chating.CommunityChatingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.community.detail.CommunityDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.consultation.history.ConsultationHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.consultation.chating.ConsultationChatingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.auth.AuthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>